@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------
Global CSS
--------------------------------------------------*/
* {
    box-sizing: border-box;		
	transition: .25s;			/*adds a moderate transition to all changes to the site*/
	background-color:#E1E1E1; 	/*temporary [remove]*/
}

/*end: Global CSS
--------------------------------------------------*/




/*--------------------------------------------------
Structure
--------------------------------------------------*/


/*end: Structure
--------------------------------------------------*/




/*--------------------------------------------------
Colors
--------------------------------------------------*/


/*end: Colors
--------------------------------------------------*/




/*--------------------------------------------------
Fonts & Typography
--------------------------------------------------*/


/*end: Fonts & Typography
--------------------------------------------------*/


/*--------------------------------------------------
Media Queries
--------------------------------------------------*/

/*If screen is bigger than given size below*/
@media screen and (min-width: 500px) {

}

/*If screen is smaller than given size below*/
/*try not use the following media query. Our goal
is to go from small to large (mobile first or small 
screen first.) So we don't usually want to apply 
styles for screens when they are smaller than something
we rather want to target something when screen gets
bigger. */
@media screen and (max-width: 500px) {

}

/*end: Media Queries
--------------------------------------------------*/
